@font-face {
    font-family: 'DeterminationMonoWeb';
    font-style: normal;
    font-weight: normal;
    src: local('DeterminationMonoWeb'),
        url(../../assets/fonts/DeterminationMonoWeb.ttf) format('truetype');
}

.gs-battle {
    font: 32px DeterminationMonoWeb;
}

$menu-frame-bg: #437286;

canvas {
    clip: rect(0, 0, 0, 0);
}

.fade-in {
    transform: translateY(-64px);
    opacity: 100%;
}

.fade-out {
    transform: translateY(0px);
    opacity: 0%;
}

canvas,
img {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.menu-frame {
    display: flex;

    border: 16px solid grey;
    border-radius: 8px;
    border-style: double;
    background-color: #DDDDDD;

    width: fit-content;
    background-color: #EEEE;


    &::before {
        content: attr(id);
        padding: 16px;
        background-color: $menu-frame-bg;
        width: 100%;
    }
}

.mate {
    border-left: 4px solid $menu-frame-bg !important;
    background-color: $menu-frame-bg !important;
}

.hp {
    display: flex;

    &::before {
        content: 'HP';
        flex-grow: 1;
    }

    padding-right: 16px;
}

.pp {
    display: flex;

    &::before {
        content: 'PP';
        flex-grow: 1;
    }

    padding-right: 16px;
}

.portrait {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* fixed to viewport */
.menu-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    width: 100%;

    >.battle-menu-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        flex-direction: row;
        width: 100%;

        &>.battle-menu {}

        &>.menu-frame {
            width: 16rem; // about 256px
            height: 6rem; // about 256px
        }
    }

}