.action-menu-item {
    list-style-type: none;
    display: grid;
    grid-template-columns: 2fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    align-content: center;
    margin: 0.75rem;

    &>:nth-child(1) {}

    &>:nth-child(2) {}

    &>:nth-child(3) {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &>img {
            width: 1.15rem;
            height: 1.15rem;    
        }
    }

    &>:nth-child(4) {
        width: 4rem;
        height: 1.5rem;

    }


    &:hover, &:focus-within        {
        background-color: #ffffff33;
        filter: brightness(200%);

        &>button>img {
            filter: brightness(50%);
        }
    }

    &>button {
        display: flex;
        background: none;
        border: none;

        &>img {
            width: 2rem;
            transform: scale(1.5);
            padding-right: 0.5rem;
        }
    }

    &>* {
        // border: 2px solid red !important;
    }
}