@font-face {
    font-family: 'DeterminationMonoWeb';
    font-style: normal;
    font-weight: normal;
    src: local('DeterminationMonoWeb'),
        url(../../assets/fonts/DeterminationMonoWeb.ttf) format('truetype');
}

.golden-sun {
    font: 32px DeterminationMonoWeb;
    position: relative;
    width: 75%;
    height: 75%;
    // border: 8px dashed gold; // Debug outline

    button {
        outline: none;
        align-items: center;
        font: inherit;
        color: inherit;
        background: none;
        border: none;
        text-shadow: inherit;
    }

    .menu-color{
        color: #437286;
    }
    
    .menu-bg-color{
        background-color: #437286;
    }
}