@keyframes spring-left {
    from {
        transform: translateX(-0.25rem);
    }
    to {
        transform: translateX(0rem);
    }
}
@keyframes spring-right {
    from {
        transform: translateX(0.25rem);
    }
    to {
        transform: translateX(0rem);
    }
}

.simple-page-nav {
    display: flex;

    &>button:nth-of-type(1):not(:disabled) {
        animation-name: spring-left;
        animation-duration: 0.3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    &>button:nth-of-type(2):not(:disabled) {
        animation-name: spring-right;
        animation-duration: 0.3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    &>button:disabled {        
        cursor: not-allowed;
        filter: brightness(50%);
    }
}