$menu-frame-bg: aqua;

@mixin menu-border {
    >div {
        background-color: aqua;
        height: 100%;
        border-right: 4px solid #00000055;
        border-left: 4px solid #FFFFFFCC;
    }
}

.App {
    display: block;
    width: 100%;
    height: 100vh;

    color: green;
    background-color: lightgrey;

    .team {
        display: inline-flex;
        flex-direction: row;
        position: static;
        float: right;

        $frame-width: 256px;
        $frame-height: 144px;
        $frame-bw: 16px;

        >div {
            @mixin player-border {
                @include menu-border;

                >div:hover:before {
                    content: '\A';
                    position: absolute;
                    width: ($frame-width)-($frame-bw*0.5);
                    height: $frame-height;
                    background: rgba(0, 0, 0, 0.6);
                    // opacity: 1;
                    // transition: all 1s;
                }
            }

            &:first-child {
                @include player-border;
                border-right: none;
                border-top-right-radius: 0%;
                border-bottom-right-radius: 0%;

                >div {
                    border-left-color: $menu-frame-bg;
                }
            }

            &:not(:first-child):not(:last-child) {
                @include player-border;
                border-left: none;
                border-top-left-radius: 0%;
                border-bottom-left-radius: 0%;
                border-top-right-radius: 0%;
                border-bottom-right-radius: 0%;
                border-right: none;
            }

            &:last-child {
                @include player-border;
                border-left: none;
                border-top-left-radius: 0%;
                border-bottom-left-radius: 0%;

                >div {
                    border-right: none;
                }
            }

            width: $frame-width;
            height: $frame-height;
            border: $frame-bw solid grey;
            background-color: #EEEE;
            border-radius: 8px;
            border-style: double;
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        border: 1px solid red;
        width: 100%;
        height: 100vh;

        &::before {
            display: inline-block;
            content: '\A';
            position: relative;
            height: 100%;
        }

        >.options {
            display: flex;
            flex-direction: row;
            width: 100%;

            >div#Portrait {
                background-color: orange;
                width: 128px;
                height: 128px;
            }

            @mixin item {
                background-color: orange;
                width: 128px;
                height: 128px;
            }

            >div#Attack {
                @include item;
            }

            >div#Energy {
                @include item;
            }

            >div#Djinn {
                @include item;
            }

            >div#Summon {
                @include item;
            }

            >div#Defend {
                @include item;
            }


            >div#Menu-Focused {
                >div {
                    @include menu-border;
                }

                width: 256px;
                height: 100px;
                border: 14px solid grey;
                background-color: #EEEE;
                border-radius: 8px;
                border-style: double;
            }
        }

    }
}