.energy-menu {

    &~.menu-frame {
        transition: width ease-out 1000ms;
        width: 96rem !important;
    }

    .grow {
        height: 24rem !important;
    }

    .menu-options-menu {
        display: flex;
        position: relative;
        width: 48rem;
        height: 2rem;
        transition: height ease-out 500ms;

        >.simple-page-nav {
            position: absolute;
            right: 0;
            transform: translateY(-1rem);
            z-index: 1;
        }

        // List sandbox
        &>ul {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            position: absolute;
            grid-template-rows: repeat(20, 0fr);
            column-gap: 0;

            left: 0;
            right: 0;
            bottom: 0;
            top: 0;

            padding: 0.25rem;
            margin: 0px;

            &>li {}
        }
    }
}

/* Fixed Pages: There should be more than a few pages of 5 items each */
.action-menu {
    &>li {
        display: none;
    }

    &.p1>li:nth-of-type(-n+5) {
        display: grid;
    }
    &.p2>li:nth-of-type(n+6):nth-of-type(-n+10) {
        display: grid;
    }    
    &.p3>li:nth-of-type(n+11):nth-of-type(-n+15) {
        display: grid;
    }       
    &.p4>li:nth-of-type(n+16):nth-of-type(-n+20) {
        display: grid;
    }
    
    &.p0>li {
        display: grid;
    }
}

/* I'm no longer working on firefox */
.battle-menu-container:has(.energy-menu) {
    flex-direction: column-reverse !important;
    align-items: flex-end;
}