.available-summons {
    position: absolute !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    top: 0 !important;
    right: 0 !important;
    z-index: 2;

    &::before {
        content: none !important;
    }

    &>.element {
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;

        &::before {
            content: attr(id);
            position: absolute;
            transform: translate(0, -20px);
            background-color: inherit;
        }

        &>img {
            padding: 0.3rem;
            width: 1.15rem;
            height: 1.15rem;
        }
    }
}